<strong>Olá. {{ name }}</strong>
<p>Existe um produto esperando para ser entregue:</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
  <strong>Endereço</strong>
  <strong>Rua: </strong> {{ rua }} <br />
  <strong>Complemento: </strong> {{ complemento }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  Utlize seu ID: [{{ deliveryman_id }}] no para fazer a entrega <br />
  <br />
  <small>
    Após a entrga, não esqueça de atualizar com a hora em que o produto
    foi entregue.
  </small>
</p>
